uploads
advanced-cache.php
themes/twentytwenty
themes/twentytwentyone
themes/twentytwentytwo
themes/twentytwentythree
themes/genesis-block-theme
plugins/advanced-custom-fields
plugins/askimet
package-lock.json